<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% for i in questions %}
<h5>{{i}}</h5>
{% endfor %}

<nav><ul class="pagination">
{% for p in paginator.page_range %}
    {% if p == page.number %}
    <li class="page-item active">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="{{paginator.baseurl}}{{p}}">{{p}}</a>
    </li>
{% endfor %}
</ul></nav>
